SECRET_KEY=change-this-to-a-random-secret-key

# API Keys (optional — omitted APIs still get results from free sources)
SHODAN_API_KEY=DyO92NVqWOM7T6leqGDKvdwimOJcaqbj
HUNTER_API_KEY=49cb32c22af8f13a0ce5ed021179f5016929c802
DEHASHED_EMAIL=Konnorhorton78@gmail.com
DEHASHED_API_KEY=03+dlMSf/zRrv/Oi+BwJJPKqLeNuIo7HsLgSHqmfJz4XgRGNOhwNBq0=
VIRUSTOTAL_API_KEY=d75f773d3e58b4c84d1f7ec5448ebd63547838ad3fa0950272e0ef584922a5ef
WHATCMS_API_KEY=w30yqrzl2oegerb3e1rr1ayezuwblalkjwvfqw9io7l2p6qf2a7rj5afdvyv6b258i2jq4

FLASK_DEBUG=False
PORT=5000
